@import "node_modules/bootstrap/scss/functions"
@import "node_modules/bootstrap/scss/variables"
@import "node_modules/bootstrap/scss/mixins/_breakpoints"

$black: #151515
$red: #e43314
$gray: #a2a2a2
$gray-darker: #676767
$dark: #343334
body
  overflow-x: hidden
  font-family: 'Montserrat', sans-serif

.black
  color: $black
.red
  color: $red
.white
  color: white
